    <% layout('layouts/boilerplate') %> 
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <div class="card">
                <img src="<%= camp.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= camp.title %></h5>
                  <p class="card-text"><%= camp.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-muted"><%= camp.location %></li>
                  <li class="list-group-item">Submitted by: <%= camp.author.username %></li>
                  <li class="list-group-item">$<%= camp.price %>/night</li>
                </ul>
                <% if(currentUser && currentUser.equals(camp.author)){ %> 
                <div class="card-body">
                  <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-warning">Edit</a>
                  <a href="/campgrounds" class="btn btn-primary">All Campgrounds</a>
                  <form class="d-inline" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete The Campground</button>
                  </form>
                </div>
                <% } %> 
                <div class="card-footer text-muted">
                    2 days ago
                </div>
              </div>
            </div>
            <!-- reviews -->
            <div class="col-md-6">
              <h2>Reviews</h2>
              <% if(currentUser){ %> 
            <form action="/campgrounds/<%= camp._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
              <div class="mb-3">
                <label for="customRange2" class="form-label">Rating</label>
                <input type="range" name="review[rating]" class="form-range" value="0" min="1" max="5" id="customRange2">
              </div>
              <div class="mb-3 form-floating">
                <textarea required name="review[body]" class="form-control" style="height: 100px" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Review</label>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <button class="btn btn-success" type="submit">Submit Review</button>
            </form>
            <% } %> 
            <% for(let review of camp.reviews){ %> 
              <div class="mb-3 card">
                <div class="card-body">
                  <h5 class="card-title">Rating: <%= review.rating %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">By: <%= review.author.username %></h6>
                  <p class="card-text">Review: <%= review.body %></p>
                  <% if(currentUser && currentUser.equals(review.author)){ %> 
                  <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                  </form>
                  <% } %> 
                </div>
              </div>
              <% } %> 
          </div>
    </div>


